body{
  padding:5%;
  background-color: #ededed;
  margin: auto;
  font-family: 'Muli', sans-serif;
}

.header{
  text-align: center;
}

h1{
  text-align: center;
  margin-bottom: 80px;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: 'Muli', sans-serif;
}

#button.return{
  
  text-align: left;
  background-color: royalblue;
  font-weight: 500;
  color: white;
  margin-top: 50px;
  margin-left: 0;
}

#button.supp{
  background-color: #cfcfcf;
  text-align: left;
  margin-left: 0;
}

#button{
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

#button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

div.post{
  cursor: pointer;
  text-align: left;
  float: left;
  padding: 2%;
  margin: 20px;
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  border-left: solid 5px royalblue;
}

div.post:hover{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  border-left: solid 5px rgb(49, 71, 136);
}

p#respons{
  color: royalblue;
  padding-top: 40px;
}