{% extends "layout.html.twig" %}

{% block content %}
    <h1>Découvrez nos articles...</h1>

    {% for post in posts %}
    <a href="blog/{{ post.slug }}">

        
        <div class="post">
            <h3>{{ post.titre }}</h3>
            <p>Auteur : {{ post.auteur }}</p>
            <p>Date : {{ post.date }}</p>
          </div>
    </a>
    {% endfor %}

    
    <button id="button" class="return" onclick="window.location.href='/index_dev.php'">Retour</button>
    <button id="button" onclick="window.location.href='/index_dev.php/admin/insert'">Ajouter un article</button>

{% endblock %}
