{% extends "layout.html.twig" %}

{% block content %}
    
    <div class="header">
        
        <h1>Découvrez nos articles...</h1>
        
        <button id="button" onclick="window.location.href='/index_dev.php/blog'">Découvrir les articles</button>

    </div>

{% endblock %}