{% extends "layout.html.twig" %}

{% block content %}

    <form method="POST">

        Titre :
        <input type="text" name="titre"/><br/>

        Auteur :
        <input type="text" name="auteur"/><br/>

        Contenu :
        <textarea name="contenu">Texte</textarea>

        <input type="submit" value="Ajouter"/>

    </form>

    <button id="button" class="return" onclick="window.location.href='/index_dev.php/blog'">Retour</button>

{% endblock %}