{% extends "layout.html.twig" %}

{% block content %}
    <h2>{{ post.titre }}</h2>

    <div class="single" href="index_dev.php/blog/{{ post.slug }}">
        <p>Auteur : {{ post.auteur }}</p>
        <p>Date : {{ post.date }}</p>
        <p>{{ post.contenu }}</p>
    </div>

    <button id="button" class="return" onclick="window.location.href='/index_dev.php/blog'">Voir les autres articles</button>
    <button id="button" onclick="window.location.href='/index_dev.php/admin/edit/{{ post.slug }}'">Editer l'article</button>
    <form action="/index_dev.php/admin/delete/{{post.slug}}" method="POST">
        <input id="button" class="supp" type="submit" value="Supprimer l'article">
    </form>

{% endblock %}